<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201003618205-ra96l1l8c2og82i8ao1sm39gq5uu2de4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201003618205-ra96l1l8c2og82i8ao1sm39gq5uu2de4</string>
	<key>API_KEY</key>
	<string>AIzaSyBEWbAsM-xOgrbKl2uRmdEfvbeFZMRi5aE</string>
	<key>GCM_SENDER_ID</key>
	<string>201003618205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codefox.quizzle</string>
	<key>PROJECT_ID</key>
	<string>sih-app-72aa3</string>
	<key>STORAGE_BUCKET</key>
	<string>sih-app-72aa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201003618205:ios:22ff30db4b6ecdad39a974</string>
</dict>
</plist>